<h1>My list of all Articles</h1>
<table>
<tr>
<th>Title</th>
<th>Author</th>
<th>Text</th>
<th>Time-created</th>
</tr>

<% @articles.each do |article| %>

    <tr>
<td><%= article.title %></td>
<td><%= article.author %></td>
<td><%= article.text %></td>
<td><%= article.created_at %></td>
<td><%= link_to 'Show', article_path(article) %></td>
<%= link_to 'Destroy', article_path(article),
method: :delete,
data: { confirm: 'Sure you wanna destroy?' } %>
</tr>

    <% end %>

</table>